//
// Buttons
// --------------------------------------------------

.fa-btn {
    margin-right: 5px;
}

.btn.btn-uppercase {
  font-size: $font-size-small;
  font-weight: 500;
  line-height: floor(($font-size-base * $line-height-base));
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

// Alternate buttons
// --------------------------------------------------

.btn-primary-outline {
  @include button-outline-variant($btn-primary-border, transparent);
}

.btn-link {
	&.btn-more {
		color: $gray-dark;
		// @include transition(all 200ms ease);
		&:active {
			// @include transition(all 200ms ease);
		}
	}
}

.table {
	.btn-group {
		margin-top: -6px;
		margin-bottom: -6px;
	}
}

.btn-group .dropdown-toggle.btn-more {
    @include transition(all 200ms ease);
}

.btn-group.open .dropdown-toggle.btn-more {
    box-shadow: none;
    @include rotate(90deg);
    @include transition(all 200ms ease);
}
